/*
Task 4: Custom font families
Create font-family variables and apply them to body and headings.
*/

:root {
  --font-family-base: HelveticaNeue, Helvetica, Arial, sans-serif;
  --font-family-title: HelveticaNeue, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
}
