/*
Task 5: Custom font sizes
Create font-size variables and set html and body font sizes.
*/

:root {
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
}

html {
    font-size: 62.5%;
}

body{
    font-size: var(--font-size-medium);
}